:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: bisque;
}
.info {
  border: rgb(19, 24, 84) solid 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  height: 300px;
  width: 200px;
  background-color: rgb(236, 255, 251);
  box-shadow: 2px 2px 2px 2px rgb(203, 182, 145, 0.8);
}
.coin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  margin-top: 15px;
}
